@font-face {
    font-family: Sf pro;
    src: url('./asset/resource/fonts/SFPRODISPLAYREGULAR.OTF');
}

html, body{
    height: 100dvh;
    margin: 0;
    padding: 0;
}

#full-page{
    height: 100%;
    /* background-color: black; */
}

#website-structure{
    height: 100%;
    display: grid;
    grid-template-rows: min(100px, 8vh) 1fr min(100px, 10vh);
    background-color: black;
    max-width: 100%;
}

#header{
    grid-row: 1/2;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 20px;
    border-bottom: 1px solid white;
    backdrop-filter: blur(5px);
    color: white;
    font-family: 'Sf pro';
    font-size: 40px;
    margin-bottom: 20px;
    max-width: 100%;
}

#logo{
    font-weight: 700;
    /* min-width: 250px; */
    /* min-width:fit-content; */
}

#Weather-Images{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visibility{
    display: block;
}

#content{
    margin: 0 20px;
    display: flex;
    justify-content:space-around;
}

.blur{
    backdrop-filter: blur(10px);
}

#search-form{
    text-align: end;
    max-width:fit-content;
}

input{
    width: 500px;
    vertical-align:middle;
    border-style: none;
    height: 40px;
    border-radius: 30px;
    padding: 0 10px;
    font-size: 15px;
    font-family: 'Sf pro';
}

input:focus{
    outline: none;
}

#search-button{
    vertical-align: middle;
    height: 30px;
    width: 70px;
    border-radius: 20px;
    font-family: 'sf pro';
    font-size: medium;
    cursor: pointer;
    background-color: white;
    border-style: none;
}

#today-stats{
    max-width:min-content;
    border: 1px solid white;
    /* margin-top: 30px; */
    /* background-color: gray; */
    backdrop-filter: blur(20px);
    /* position: relative; */
    /* left: 100px; */
    text-align: left;
    padding: 20px;
    color: white;
    font-family: 'Sf pro';
    font-size: 30px;
    margin: 0 20px;
    /* margin-bottom: 20px; */
}

#today-stats > div {
    /* border-bottom: 1px solid white; */
    margin: 20px 0;
}

#temp-C{
    font-size: 100px;
    font-weight: bold;
}

#locationDiv{
    font-weight: 700;
    font-size: 40px;
}

#date{
    /* text-align: right; */
    font-size: 20px;
}

#nerd-stats-header{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

#nerd-stats{
    font-size: 25px;
}

#loading-data{
    position: absolute;
    height: 200px;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
    font-family: 'Sf pro';
    font-size: 30px;
    display: none;
    backdrop-filter: blur(10px);
}

#forecast{
    /* height: 700px; */
    max-width:max-content;
    border: 1px solid white;
    /* position: absolute; */
    /* top: 10%; */
    /* right: 10%; */
    backdrop-filter: blur(10px);
    color: white;
    font-family: 'Sf pro';
    /* text-align: center; */
    padding: 20px;
    /* display: flex; */
    margin: 0 20px;
}

#forecast-header {
    /* border-bottom: 1px solid black; */
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 20px;
}

/* #forecast-body > div{
    border-bottom: 1px solid black;
    font-size: 22px;
    margin: 20px 0;
} */

.daily-stat{
    margin-bottom: 20px;
    font-size: 20px;
}

#forecast-body > .forecast-date-text{
    font-size: 30px;
    font-weight: bold;
    /* margin: 0 0; */
}

#footer{
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    margin: 20px;
    backdrop-filter: blur(5px);
    color: white;
    font-family: 'Sf pro';
    font-size: 30px;
}

@media (max-width: 600px) {

    html, body{
        overflow-y: scroll;
    }

    #website-structure{
        grid-template-rows: 25vh 1fr 10vh;
    }

    #header{
        width:auto;
        flex-direction: column;
        align-items: flex-start;
        justify-content:space-evenly;
    }

    #logo{
        min-width: 100%;
        display: block;
        border-bottom: 1px solid white;
    }

    #search-form{
        text-align: left;
    }

    #content{
        height: 100%;
        flex-direction: column;
    }

    #today-stats{
        margin-bottom: 20px;
    }

    input{
        width: 300px;
    }
}